<h1>Dashboard</h1>
<h2>Your Bookings</h2>
  <div class="booking-card">
    <% @bookings.each do |booking| %>
    <div class='card'>
      <li><%= booking.property.address %></li>
      <li><%= booking.check_in %> check in date</li>
      <li><%= booking.check_out %> check out date</li>
      <li><%= booking.guests %> guests</li>
      <% unless booking.accepted == true %>
      <li>Booking Pending</li>
    <% else %>
        <li>Booking Accepted</li>
    <% end %>
    </div>
    <% end %>
  </div>

<div class="owner">
 <div class="p">
  <h2 class="p">Your Properties</h2>
  <div class="properties">

  <% @properties.each do |property| %>
      <div class="card">
      <% if property.photo.attached? %>
        <%= cl_image_tag(property.photo.key,
          width: 400, height: 300, crop: :fill) %>
      <% end %>

        <p><%= number_to_currency(property.price) %></p>
        <p><%= "#{property.bedrooms} bedrooms" %></p>
        <p><%= property.address %></p>
        <button><%= link_to "Remove property", property_path(property), data: {turbo_method: 'delete', turbo_confirm: 'Are you sure?'}, class:"button-outline" %></button>
      </div>
    <% end %>

  </div>
 </div>
  <div class="container">
    <h2>Booking requests</h2>
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="pending-tab" data-bs-toggle="tab" href="#pending" role="tab" aria-controls="pending" aria-selected="true">Pending</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="accepted-tab" data-bs-toggle="tab" href="#accepted" role="tab" aria-controls="accepted" aria-selected="false">Accepted</a>
      </li>
    </ul>
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="pending" role="tabpanel" aria-labelledby="pending-tab">
        <div class="pending">
          <% @pending_bookings.each do |booking| %>
            <%= render 'booking', booking: booking %>
          <% end %>
        </div>
      </div>
      <div class="tab-pane fade" id="accepted" role="tabpanel" aria-labelledby="accepted-tab">
        <div class="accepted">
          <% @accepted_bookings.each do |booking| %>
            <%= render 'booking', booking: booking %>
          <% end %>
        </div>
      </div>
</div>
</div>
