<div class="card-search-result">
  <a href="<%= property_path(property)%>" class="card-link">
    <%= cl_image_tag(property.photo.key, width: 238, height: 240, crop: :fill) %>
    <br>
    <br>
    <span class="prefecture">
      <p><%= property.city %>,
      <%= property.prefecture %></span></p>
    <p class="property-info">
      <%= "#{property.bedrooms} bedrooms | #{number_to_currency(property.price)}" %></p>
  </a>
</div>
