<div class="card-search-result">
  <%= render "favourites/actions", property: property %>
  <a href="<%= property_path(property)%>" class="card-link">
    <img src="<%= property.image_urls.first %>" alt="" class="d-block" width="238" height="240">
    <br>
    <br>
    <span class="prefecture">
      <p class="text-center"><%= property.city %>,
      <%= property.prefecture %></span></p>
    <p class="property-info text-center">
      <%= "#{property.bedrooms} bedrooms | #{number_to_currency(property.price)}" %></p>
  </a>
</div>
