<h1>Search Result</h1>
<br>
<div class="row">
  <!-- Left Column with Search Bar and Property Cards -->
  <div class="col-7">
    <!-- Search Bar -->
    <%= form_with url: properties_path, method: :get, class: "d-flex mb-3" do %>
      <div class="col-md-3">
        <%= text_field_tag :query, params[:query], class: "form-control rounded-pill", placeholder: "Search by Prefecture" %>
      </div>
      <div class="col-md-2">
        <%= number_field_tag :bedrooms, params[:bedrooms], class: "form-control rounded-pill", placeholder: "Bedrooms" %>
      </div>
      <div class="col-md-2">
        <%= number_field_tag :min_price, params[:min_price], class: "form-control rounded-pill", placeholder: "Min Price" %>
      </div>
      <div class="col-md-2">
        <%= number_field_tag :max_price, params[:max_price], class: "form-control rounded-pill", placeholder: "Max Price" %>
      </div>
      <div class="col-md-3">
        <%= submit_tag "Search", name: "", class: "btn btn-primary w-100" %>
      </div>
    <% end %>

    <!-- Property Counter -->
    <div class="property-counter">
      <% if @properties.present? %>
        <p><%= @properties.size %> properties found</p>
      <% else %>
        <p>No properties found</p>
      <% end %>
    </div>

    <!-- Render Property List -->
    <%= render "list", properties: @properties %>
  </div> <!-- Close Left Column -->

  <!-- Right Column with Map -->
  <div class="col-5">
    <div id="map"
      data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div> <!-- Close Right Column -->
</div> <!-- Close Row -->
