 <div class="row">

  <!-- Left Column with Search Bar and Property Cards -->
  <div class="col-7">
    <!-- Search Bar -->
   <%= form_with url: properties_path, method: :get, class: "d-flex" do %>
        <%= text_field_tag :query,
              params[:query],
              class: "form-control",
              placeholder: "Type a keyword"
        %>
        <%= submit_tag "Search", name: "", class: "btn btn-primary" %>
      <% end %>

    <%= render "list", properties: @properties %>
  </div>

  <!-- Right Column with Map -->
  <div class="col-5">
    <div id="map"
      data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
</div>
