<h1>Search Result</h1>
<br>
<div class="row">
  <!-- Left Column with Search Bar and Property Cards -->
  <div class="col-7">
    <!-- Search Bar -->
    <%= form_with url: properties_path, method: :get, class: "d-flex mb-3", id: "search-form" do %>
      <div class="col-md-6">
        <%= text_field_tag :query, params[:query], class: "form-control rounded-pill", placeholder: "Search by Prefecture", id: "prefecture-search" %>
      </div>
      <div class="col-md-3">
        <%= submit_tag "Search", name: "", class: "btn btn-primary" %>
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#filterModal">
          Filter
        </button>
      </div>

      <!-- Modal -->
      <div class="modal fade" id="filterModal" tabindex="-1" aria-labelledby="filterModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="filterModalLabel">Filters</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div class="property-type my-3">
                <label>Property type</label>
                <div class="btn-group btn-group-toggle d-flex" data-toggle="buttons">
                  <label class="btn btn-outline-dark flex-fill text-dark">
                    <input type="radio" name="property_type" id="any" autocomplete="off"> Any
                  </label>
                  <label class="btn btn-outline-dark flex-fill text-dark">
                    <input type="radio" name="property_type_akiya" id="akiya" autocomplete="off"> Akiya
                  </label>
                  <label class="btn btn-outline-dark flex-fill text-dark">
                    <input type="radio" name="property_type_machiya" id="machiya" autocomplete="off"> Machiya
                  </label>
                  <label class="btn btn-outline-dark flex-fill text-dark">
                    <input type="radio" name="property_type_kominka" id="kominka" autocomplete="off"> Kominka
                  </label>
                </div>
              </div>

              <div class="price-range">
                <label>Price range</label>
                <div class="price-inputs">
                  <input type="text" class="form-control" id="min_price" name="min_price" placeholder="Min" oninput="syncRangeMin()">
                  <input type="text" class="form-control" id="max_price" name="max_price" placeholder="Max" oninput="syncRangeMax()">
                </div>
              </div>

              <div class="rooms-container">
                <div>
                  <label>Bedrooms</label>
                  <select class="form-control" id="modal-bedrooms" name="bedrooms">
                    <option>Any</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4+</option>
                  </select>
                </div>
                <div>
                  <label>Bathrooms</label>
                  <select class="form-control" id="modal-bathrooms" name="bathrooms">
                    <option>Any</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4+</option>
                  </select>
                </div>
              </div>

              <div class="footer-buttons">
                <button type="button" class="btn btn-secondary" id="clear-filters">Clear all filters</button>
                  <%= submit_tag "Search", name: "", class: "btn btn-primary" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>

    <!-- Property Counter -->
    <div class="property-counter">
      <% if @properties.present? %>
        <p><%= @properties.size %> properties found</p>
      <% else %>
        <p>No properties found</p>
      <% end %>
    </div>

    <!-- Render Property List -->
    <%= render "list", properties: @properties %>
  </div> <!-- Close Left Column -->

  <!-- Right Column with Map -->
  <div class="col-5">
    <div id="map"
      data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div> <!-- Close Right Column -->
</div> <!-- Close Row -->

<!-- JavaScript to link the "Show" button with the "Search" button -->
<script>
  $(document).ready(function() {
    var prefectures = [
      "Hokkaido", "Aomori", "Iwate", "Miyagi", "Akita", "Yamagata", "Fukushima",
      "Ibaraki", "Tochigi", "Gunma", "Saitama", "Chiba", "Tokyo", "Kanagawa",
      "Niigata", "Toyama", "Ishikawa", "Fukui", "Yamanashi", "Nagano",
      "Gifu", "Shizuoka", "Aichi", "Mie", "Shiga", "Kyoto", "Osaka", "Hyogo",
      "Nara", "Wakayama", "Tottori", "Shimane", "Okayama", "Hiroshima", "Yamaguchi",
      "Tokushima", "Kagawa", "Ehime", "Kochi", "Fukuoka", "Saga", "Nagasaki",
      "Kumamoto", "Oita", "Miyazaki", "Kagoshima", "Okinawa"
    ];

    $("#prefecture-search").autocomplete({
      source: prefectures,
      minLength: 2
    });

    $("#priceRange").slider({
      range: true,
      min: 0,
      max: 1000000,
      step: 100,
      values: [0, 1000000],
      slide: function(event, ui) {
        $("#priceMin").val(ui.values[0]);
        $("#priceMax").val(ui.values[1]);
      }
    });


    document.getElementById('clear-filters').addEventListener('click', function() {
      document.getElementById('modal-bedrooms').value = 'Any';
      document.getElementById('modal-bathrooms').value = 'Any';
      document.getElementById('priceMin').value = '';
      document.getElementById('priceMax').value = '';
      $("#priceRange").slider("values", [0, 1000000]);
    });

    function syncRangeMin() {
      const minInput = document.getElementById('priceMin').value;
      $("#priceRange").slider("values", 0, minInput);
    }

    function syncRangeMax() {
      const maxInput = document.getElementById('priceMax').value;
      $("#priceRange").slider("values", 1, maxInput);
    }
  });
</script>

<!-- Include jQuery UI CSS and JS for the price range slider -->
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
