<div class="row">

  <!-- Left Column with Search Bar and Property Cards -->
  <div class="col-7">
    <!-- Search Bar -->
    <form action="/properties" method="get" class="search-bar">
      <input type="text" name="query" placeholder="Search properties" class="form-control">
      <button type="submit" class="btn btn-primary">Search</button>
    </form>

    <div class="property-grid">
      <% @properties.each do |property| %>
        <div class="card">
        <%= cl_image_tag(property.photo.key,
      width: 300, height: 200, crop: :fill) %>
          <ul>
            <li><%= link_to number_to_currency(property.price), new_property_booking_path(property) %></li>
            <li><%= "#{property.bedrooms} bedrooms" %></li>
            <li><%= property.address %></li>
          </ul>
        </div>
      <% end %>
    </div>
  </div>

  <!-- Right Column with Map -->
  <div class="col-5">
    <div id="map"
      data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
</div>
