<h1>Akiyas#show</h1>
<p>Find me in app/views/akiyas/show.html.erb</p>
<ul>
<% if @property.photo.attached? %>
      <%= cl_image_tag(@property.photo.key,
        width: 400, height: 300, crop: :fill) %>
    <% end %>
<li><%= "$#{@property.price}" %></li>
<li><%= "#{@property.bedrooms} bedrooms" %></li>
<li><%= @property.address %></li>
<li><%= "Built in #{@property.age}" %></li>
<li><%= @property.description %></li>
</ul>

<%= link_to 'Make a booking', new_property_booking_path(@property) %>
you have been hacked
