<h1>Your Properties</h1>

 <div class="property-grid">
    <% if @properties.any? %>
      <% @properties.each do |property| %>
        <div class="card-search-result">
          <a href="<%= property_path(property)%>" class="card-link">
            <img src="<%= property.image_urls.first %>" alt="" class="d-block" width="238" height="240" unless property.photos.first.nil?>
            <div class="d-flex justify-content-end w-100">
            <%= link_to edit_property_path(property) do %>
              <i class="fa-solid fa-pen-to-square search_edit_delete"></i>
            <% end %>
            <%= link_to delete_user_property_path(property),
              data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
              <i class="fa-solid fa-trash search_edit_delete"></i>
            <% end %>
            </div>
            <span class="prefecture">
              <p class="text-center"><%= property.city unless property.city.nil? %>,
              <%= property.prefecture %></span></p>
            <p class="property-info text-center">
              <%= "#{property.bedrooms} bedrooms | #{number_to_currency(property.price)}" %></p>
          </a>
        </div>
      <% end %>
     <% else %>
        <p>You have no properties listed.</p>
      <% end %>
  </div>
