<h1>Your Properties</h1>

 <div class="property-grid">
    <% if @properties.any? %>
      <% @properties.each do |property| %>
        <div class="card-search-result">
          <a href="<%= property_path(property)%>" class="card-link">
            <img src="<%= property.image_urls.first %>" alt="" class="d-block w-100" width="238" height="240">
            <br>
            <br>
            <span class="prefecture">
              <p class="text-center"><%= Geocoder.search([property.latitude, property.longitude]).first.city %>,
              <%= property.prefecture %></span></p>
            <p class="property-info text-center">
              <%= "#{property.bedrooms} bedrooms | #{number_to_currency(property.price)}" %></p>
          </a>
        </div>
      <% end %>
     <% else %>
        <p>You have no properties listed.</p>
      <% end %>
  </div>
