<div class="accordion-item">
  <h2 class="accordion-header">
    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse<%= plan + index.to_s %>" aria-expanded="false" aria-controls="flush-collapse<%= plan + index.to_s %>">
      <%= title %>
    </button>
  </h2>
  <div id="flush-collapse<%= plan + index.to_s %>" class="accordion-collapse collapse" data-bs-parent="#accordionFlush<%= plan %>">
    <div class="accordion-body">
      <%= content %>
    </div>
  </div>
</div>
