<nav class="AA-navbar">
  <div class="AA-navbar-left">
    <%= link_to root_path, class: "logo" do %>
      <%= image_tag "logo.png", alt: "Logo", class: "logo-image" %>
    <% end %>
  </div>
  <div class="AA-navbar-center">
    <p><%= link_to "Home", root_path %></p>
    <p><%= link_to "Services Packages", services_path %></p>
    <p><%= link_to "FAQs", faqs_path %></p>
  </div>
  <div class="AA-navbar-right">
    <div class="dropdown">
      <button
        class="dropdown <%= user_signed_in? ? "logged-in" : "btn dropdown-circle toggle-button" %>"
        type="button"
        id="dropdownMenuButton2"
        data-bs-toggle="dropdown"
        aria-expanded="false">
        <% unless user_signed_in? %>
          <i class="fas fa-bars"></i>
        <% end %>
      </button>
      <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
        <% if user_signed_in? && current_user.is_owner %>
          <li><%= link_to "Logout", destroy_user_session_path, data: { turbo_method: "delete" } %></li>
          <li><%= link_to "View Favourites", favourites_path %></li>
          <li><%= link_to "Add a property", new_property_path %></li>
          <li><%= link_to "Your Properties", user_properties_path %></li>
        <% elsif user_signed_in? %>
          <li><%= link_to "Logout", destroy_user_session_path, data: { turbo_method: "delete" } %></li>
          <li><%= link_to "View Favourites", favourites_path %></li>
        <% else %>
          <li><%= link_to "Login", user_session_path %></li>
          <li><%= link_to "Sign Up", new_user_registration_path %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
