<head>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
</head>

<div class="overlay-container">
  <div class="title-home">
    <h1 id="enlarged-text" class="text-center">空き家<br>アクセス</h1>
    <h2 id="AA-main-title" class="text-center">Akiya Access</h2>
  </div>
</div>

<div class="row justify-content-center">
  <h4 id="AA-sub-title" class="text-center">Discover Your Dream Home in Japan</h4>
  <div class="col-sm-8 my-2">
    <%= form_with url: properties_path, method: :get, class: "row justify-content-center" do %>
      <div class="col-md-6">
        <%= text_field_tag :query, params[:query], class: "form-control rounded-pill", placeholder: "Search by Prefecture", id: "prefecture-search" %>
      </div>
      <div class="col-md-2">
        <%= submit_tag "Search", name: "", class: "btn btn-primary w-100" %>
      </div>
    <% end %>
  </div>
</div>

<script>
  $(document).ready(function() {
    var prefectures = [
      "Hokkaido", "Aomori", "Iwate", "Miyagi", "Akita", "Yamagata", "Fukushima",
      "Ibaraki", "Tochigi", "Gunma", "Saitama", "Chiba", "Tokyo", "Kanagawa",
      "Niigata", "Toyama", "Ishikawa", "Fukui", "Yamanashi", "Nagano",
      "Gifu", "Shizuoka", "Aichi", "Mie", "Shiga", "Kyoto", "Osaka", "Hyogo",
      "Nara", "Wakayama", "Tottori", "Shimane", "Okayama", "Hiroshima", "Yamaguchi",
      "Tokushima", "Kagawa", "Ehime", "Kochi", "Fukuoka", "Saga", "Nagasaki",
      "Kumamoto", "Oita", "Miyazaki", "Kagoshima", "Okinawa"
    ];

    $("#prefecture-search").autocomplete({
      source: prefectures,
      minLength: 2
    });
  });
</script>

<br>
<br>
<br>
<br>

<h5 id="AA-sub-title" class="text-center">Featured Properties</h5>
<div id="carouselExampleControls" class="carousel carousel-dark slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <% @properties.each_slice(3) do |properties| %>
      <div class="carousel-item <%= properties.first == @properties.first ? "active" : "" %>" data-bs-interval="5000">
        <div class="card-container">
          <% properties.each do |property| %>
            <% if property.image_urls.any? %>
              <div class="card">
                <div class="card-content">
                  <a href="<%= property_path(property) %>" class="card-link">
                    <img src="<%= property.image_urls.first %>" alt="" class="d-block img" width="350" height="300">
                    <br>
                    <br>
                    <p class="text-center"><strong><%= property.city %>, <%= property.prefecture %></strong></p>
                    <p class="property-info text-center mb-3"><strong><%= "#{property.bedrooms} bedrooms | #{number_to_currency(property.price)}" %></strong></p>
                    <br>
                  </a>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
